/* styles.css */


/* Add styles here to customize the appearance of your app */

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    -webkit-app-region: no-drag;
    background-color: rgb(80, 80, 80);
}