.nav-bar {
    -webkit-app-region: drag;
    width: 100vw;
    height: 30px;
    background-color: rgb(75, 75, 75);
}

.btn {
    -webkit-app-region: no-drag;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    display: inline-block;
}

.nav-btn {
    background-color: rgb(75, 75, 75);
    color: white;
    height: 100%;
    width: 40px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.nav-btn:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff85;
}

#close-app:hover {
    color: white;
    background-color: rgb(100, 0, 0);
}

#unmaximize-app {
    display: none;
}